@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .headerLink {
        @apply hover:border-indigo-700 hover:border-b-2 hover:text-black px-2 py-5 max-h-16;
    }

    .dark-purple-button {
        @apply dark-purple bg-indigo-700 text-white;
    }

    .light-purple-button {
        @apply light-purple bg-indigo-100 text-indigo-700;
    }

    .tag-button {
        @apply text-black capitalize font-bold rounded-full border-2 px-2 ml-1;
    }

    .tag-button::before {
        content: "\2022";
        color: red;
        font-weight: bold;
        display: inline-block;
        width: 1em;
    }
};

@layer utilities {
    .dark-purple {
        @apply rounded-md py-1 px-3 drop-shadow-xl text-sm mx-1 h-8;
    }

    .light-purple {
        @apply rounded-md py-1 px-3 drop-shadow-xl text-sm mx-1 h-8;
    }

    .person-image {
        @apply rounded-full object-top w-7 h-7;
    }

    .person-image-big {
        @apply rounded-full object-top w-10 h-10;
    }

    .expert-list-item {
        border-top: 1px solid #d1d5db;
    }

    #right {
        border-left: 1px solid #d1d5db;
    }

    .shared-friends::-webkit-scrollbar {
        height: 10px;
    }
      
    .shared-friends::-webkit-scrollbar-track {
        background: #E5E7EB;
        border-radius: 20px;
        height: 5px;
    }
      
    .shared-friends::-webkit-scrollbar-thumb {
        background-color: #4338CA;
        border-radius: 20px;
    }

    .expert-list::-webkit-scrollbar {
        width: 10px;
    }
      
    .expert-list::-webkit-scrollbar-track {
        background: #E5E7EB;
        border-radius: 20px;
        height: 5px;
    }
      
    .expert-list::-webkit-scrollbar-thumb {
        background-color: #4338CA;
        border-radius: 20px;
    }

    .status-circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: grey;
        border: 2px solid white;
        top: 0;
        right: 0;
        position: absolute;
    }
};
